@model BlogWebSite.Models.UserUpdateViewModel
@{
    ViewData["Title"] = "WriterEditProfile";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yazar Profil Bilgileri Düzenleme</h4>
            <br />
            <form class="forms-sample" id="updateProfileForm" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">Yazar Ad & Soyad</label>
                    <input type="text" class="form-control"   asp-for="@Model.namesurname" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Yazar Kullanıcı Adı</label>
                    <input type="text" class="form-control" asp-for="@Model.username" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Mail Adresi</label>
                    <input type="email" class="form-control" asp-for="@Model.mail" required>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail3">Yeni Şifreniz</label>
                    <input type="text" class="form-control" asp-for="@Model.password" >
                </div>

                <div class="form-group">
                    <label for="exampleTextarea1">Yazar Hakkında</label>
                    <textarea class="form-control" asp-for="@Model.about" rows="4" required></textarea>
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2" id ="saveButton">Kaydet</button>
                <button class="btn btn-light">Vazgeç</button>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $("#saveButton").click(function () {
    if (TempData["PasswordChanged"] != null){
         Swal.fire({
            title: "Oturum Sonlandırıldı!",
            text: "Şifreniz değiştirildi, lütfen tekrar giriş yapın.",
            icon: "warning",
            confirmButtonText: "Tamam"
        });
    }
    });
    
</script>